body {
  background: #0c9454; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #62acc9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
}

li {
  list-style-image: left;
}

/* #center {
  margin-left: 350px;
  position: absolute;
  margin-top: -400px;
  background-color: aqua;
  width: 350px;

} */