body {
  -webkit-font-smoothing: antialiased;
  background: lightslategrey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  height: 100vh;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.jumbotron {
  background: #ffa140;
  color: #111111;
  box-shadow: 0 0 1px;
  text-align: center;
  border-radius: 0.2rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.format {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.ac {
  background: #fafafa;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  border-radius: .2rem;
}

.ac li {
  list-style-image: none;
}

.ac button {
  padding: 6px 16px;
  margin:  .5rem .5rem 1rem;
  border-radius: .5rem;
  background: #5dbcd2;
}

.text-center {
  text-align: center;
}

.text-center span {
  color: #535353;
}

.btn {
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}

.bth:visited {
  text-decoration: none;
}

.btn:hover {
  opacity: 0.5;
  transition: 0.1s ease all;
  color: #fafafa;
}

.row {
  background:	#111111;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
}

body.active {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  flex-direction: column;
}

.bc {
  background:	#111111;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  z-index: 10;
}

.header-bc {
  text-align: center;
  color: rgba(39,44,53);
}

.poster-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-container img {
  margin: 1rem;
  border-radius: .2rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.img-container img {
  border-radius: 0.2rem;
  margin: auto 1.5rem;
}

.column {
  width: 35rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}

.column h1 {
  color: crimson;
  text-align: center;
}

.column button {
  text-align: center;
  margin: 0 auto 10px;
}
.close-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
}

.close-btn {
  background-color: #111111;
  color: #fafafa;
  border: none;
  text-align: right;
  font-size: 20px;
  padding: 10px;
  margin-top: .5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.btn-back {
  padding: 12px 26px;
  margin: .5rem;
  border: none;
  border-radius: .5rem;
  background: #5dbcd2;
  cursor: pointer;
}

.btn-back:hover {
  opacity: 0.5;
  transition: 0.1s ease all;
  color: #fafafa;
}

ul {
  padding: 0%;
}

.form-row {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 5px;
}

.form-row input {
  width: 55%;
  padding: 5px;
}

.form-row button {
  text-align: center;
  width: 35%;
  padding: 5px 15px;
  background-color: #5dbcd2;
  color: #fafafa;
}

p {
  font-size: .8em;
  line-height: 18px;
  display: block;
  margin: .5em 0 .5em 0;
  color: #ffffff;
}

@media screen and (max-width: 688px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .bc {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .img-container {
    height: 15rem;
    width: 100%;
  }

  .img-container img {
    margin: 2rem 0 0;
    width: 12rem;
    z-index: 10;
    object-fit: contain;
  }
  .column {
    margin: 0 0 5rem;
    overflow-y: auto;
    max-height: 25rem;
    width: 100%;
    padding: 1rem;
  }
  .ac div img {
    padding: 5px;
    border-radius: .5rem;
    width: 15rem;
}
}